.wrapper {
    background: #525050;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.menu {
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;
}

.link {
    color: #fff;
    font-family: 'futura-pt', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.link:global(.active) {
    color: #525050;
    background-color: #fff;
}